<!DOCTYPE html>
<html ng-app="portofolio">
  <head>
    <meta charset="utf-8">
    <title>Rama Jakaria - Portofolio</title>
    <link rel="stylesheet" href="bower_components/bootstrap-sass/assets/stylesheets/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/custom.css" media="screen" title="no title" charset="utf-8">
    <!-- <link rel="stylesheet" href="bower_components/OwlCarousel2/dist/assets/owl.carousel.css" media="screen" title="no title" charset="utf-8"> -->
  </head>

  <body ng-controller="ProjectListCtrl">
    <header class="main">
      <div class='container'>
        <img src="images/photo.jpeg" alt="" class="img-responsive"/>
        <br><br>
        <h1>Rama Jakaria</h1>
        <h3>Friendly, Creative and Hardworking Programmer</h3>
        <hr>
        <a href="#portofolio" class="btn btn-primary btn-lg">View Portofolio</a>
      </div>
    </header>
    <section class="portofolio container" id="portofolio">
      <h1 class="text-center">Portofolio</h1> <br><br>
      <h2 class="" id="spotlight">{{spotlight.name}} <small class="text-right">{{spotlight.date}}</small></h2>
      <hr>
      <div class="row spotlight">
        <div class="col-lg-8">
          <div class="img-container">
            <div>
              <img ng-src="{{spotlight.image}}" alt="" class="img-responsive" />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h4>Project Description</h4>
          <p>
            {{spotlight.description}}
          </p>
        </div>
        <div class="clearfix"></div>
      </div><br><br>
      <div class="row list">
        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="project in projects">
          <div class="img-container">
            <a href="#spotlight"><img ng-src="{{project.image}}" alt="" class="img-responsive" ng-click="setSpotlight(project)"></a>
          </div>
        </div>
      </div>
    </section>

    <footer style="margin-top: 100px">

    </footer>

    <div class="modal fade" tabindex="-1" role="dialog" id="image-preview">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{spotlight.name}}</h4>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <div>
                <img ng-src="{{spotlight.image}}" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js" charset="utf-8"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js" charset="utf-8"></script>
    <script src="bower_components/angular/angular.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(function() {
        $('a').bind('click',function(event) {
          var $anchor = $(this);
          if (!$('body').is(':animated'))
          {
            $('html, body').animate({
              scrollTop: $($anchor.attr('href')).offset().top
            }, 500, 'swing');
          }
          event.preventDefault();
        });
      });

      var modal = $('#image-preview');
      var image = $('.spotlight img');
      image.on('click', function(){modal.modal('show')});
    </script>
    <!-- <script src="bower_components/OwlCarousel2/dist/owl.carousel.js" charset="utf-8"></script> -->
  </body>
</html>
